<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dom.intelihouse" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="IntelihouseApp">
        <activity
            android:name="dom.intelihouse.ui.ListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dom.intelihouse.ui.DetailItemActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="dom.intelihouse.ui.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dom.intelihouse.ListActivityItem" />
        </activity>
    </application>

</manifest>
